<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853594869785-br7vn2i5dp4v6ls8bmns1387u0v6ribh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853594869785-br7vn2i5dp4v6ls8bmns1387u0v6ribh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>853594869785-evmihf1977qhll0h06ooa5prht7n53jd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBbjWvUnGv37CBOuQR7UhUkT47if5kLtZY</string>
	<key>GCM_SENDER_ID</key>
	<string>853594869785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cornellappdev.eateryblue</string>
	<key>PROJECT_ID</key>
	<string>eatery-a4ad1</string>
	<key>STORAGE_BUCKET</key>
	<string>eatery-a4ad1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853594869785:ios:bb8d8e5752bdc30a095a88</string>
	<key>DATABASE_URL</key>
	<string>https://eatery-a4ad1.firebaseio.com</string>
</dict>
</plist>